@mixin grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
}

@mixin excellent {
  background-color: black;
  box-shadow: 0 0 5px 0.5px rgb(0, 0, 0);

  &:hover {
    box-shadow: 0 0 5px 1px gold;
  }

  .details {
    .header {
      background-color: black;
      position: relative;
      overflow: hidden;
      border: 1px solid rgba(255, 217, 0, 0.7);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border: 2px solid transparent;
        background: linear-gradient(
            90deg,
            transparent 30%,
            gold 50%,
            transparent 70%
          )
          border-box;
        background-size: 300% 100%;
        animation: frameAnimation 10s linear infinite;
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
      }

      .title,
      .rating-number {
        color: gold;
      }
    }
    .comment {
      color: gold;
    }
  }
}

@mixin good {
  background-color: black;
  box-shadow: 0 0 5px 0.5px rgb(0, 0, 0);

  &:hover {
    box-shadow: 0 0 5px 2px green;
  }

  .details {
    .header {
      background-color: black;
      position: relative;
      overflow: hidden;
      border: 1px solid rgba(81, 255, 81, 0.5);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border: 2px solid transparent;
        background: linear-gradient(
            90deg,
            transparent 30%,
            rgb(1, 178, 1) 50%,
            transparent 70%
          )
          border-box;
        background-size: 300% 100%;
        animation: frameAnimation 10s linear infinite;
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
      }

      .title,
      .rating-number {
        color: rgb(81, 255, 81);
      }
    }
    .comment {
      color: rgb(81, 255, 81);
    }
  }
}

@mixin bad {
  background-color: black;
  box-shadow: 0 0 5px 0.5px rgb(0, 0, 0);

  &:hover {
    box-shadow: 0 0 5px 2px darkred;
  }

  .details {
    .header {
      background-color: black;
      position: relative;
      overflow: hidden;
      border: 1px solid rgba(139, 0, 0, 0.5);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border: 2px solid transparent;
        background: linear-gradient(
            90deg,
            transparent 30%,
            red 50%,
            transparent 70%
          )
          border-box;
        background-size: 300% 100%;
        animation: frameAnimation 10s linear infinite;
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
      }

      .title,
      .rating-number {
        color: red;
      }
    }
    .comment {
      color: red;
    }
  }
}

@keyframes frameAnimation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 400% 0%;
  }
}
