@mixin grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
}

@mixin excellent {
  background-color: black;
  box-shadow: 0 0 5px 0.5px rgb(0, 0, 0);

  &:hover {
    box-shadow: 0 0 5px 1px gold;
  }

  .details {
    overflow: hidden;
    .header {
      background-color: black;
      position: relative;
      border: 1px solid rgba(255, 217, 0, 0.7);

      &::before {
        content: "";
        position: absolute;
        top: -2.5px;
        right: -2.5px;
        left: -2.5px;
        bottom: -2.5px;
        background: linear-gradient(
            90deg,
            transparent 30%,
            gold 50%,
            transparent 70%
          )
          border-box;
        background-size: 300% 100%;
        animation: frameAnimation 10s linear infinite;
        border-radius: inherit;
        z-index: 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        border-radius: inherit;
        z-index: 1;
      }

      .title,
      .rating {
        color: gold;
        position: relative;
        z-index: 2;
      }
    }
    .comment {
      color: gold;
    }
  }
}

@mixin good {
  background-color: black;
  box-shadow: 0 0 5px 0.5px rgb(0, 0, 0);

  &:hover {
    box-shadow: 0 0 5px 1px green;
  }

  .details {
    overflow: hidden;

    .header {
      background-color: black;
      position: relative;
      border: 1px solid rgba(81, 255, 81, 0.5);

      &::before {
        content: "";
        position: absolute;
        top: -2.5px;
        right: -2.5px;
        left: -2.5px;
        bottom: -2.5px;
        background: linear-gradient(
            90deg,
            transparent 30%,
            rgb(1, 178, 1) 50%,
            transparent 70%
          )
          border-box;
        background-size: 300% 100%;
        animation: frameAnimation 10s linear infinite;
        border-radius: inherit;
        z-index: 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        border-radius: inherit;
        z-index: 1;
      }

      .title,
      .rating {
        color: rgb(81, 255, 81);
        position: relative;
        z-index: 2;
      }
    }
    .comment {
      color: rgb(81, 255, 81);
    }
  }
}

@mixin bad {
  background-color: black;
  box-shadow: 0 0 5px 0.5px rgb(0, 0, 0);

  &:hover {
    box-shadow: 0 0 5px 1px darkred;
  }

  .details {
    overflow: hidden;

    .header {
      background-color: black;
      position: relative;
      border: 1px solid rgba(139, 0, 0, 0.5);

      &::before {
        content: "";
        position: absolute;
        top: -2.5px;
        right: -2.5px;
        left: -2.5px;
        bottom: -2.5px;
        background: linear-gradient(
            90deg,
            transparent 30%,
            red 50%,
            transparent 70%
          )
          border-box;
        background-size: 300% 100%;
        animation: frameAnimation 10s linear infinite;
        border-radius: inherit;
        z-index: 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        border-radius: inherit;
        z-index: 1;
      }

      .title,
      .rating {
        color: red;
        position: relative;
        z-index: 2;
      }
    }
    .comment {
      color: red;
    }
  }
}

@keyframes frameAnimation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 400% 0%;
  }
}
