@mixin grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
}

@mixin excellent {
  background-color: black;
  &:hover {
    box-shadow: 0 0 5px 1px gold;
  }

  .details {
    .header {
      background: linear-gradient(90deg, gold, black, gold);
      background-size: 400% 100%;
      font-weight: bold;
      animation: goldBanner 20s linear infinite;

      .title {
        color: gold;
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
          2px 2px 0 #000, 0px -2px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000,
          2px 0px 0 #000;
      }
      .rating-number {
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
          2px 2px 0 #000, 0px -2px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000,
          2px 0px 0 #000;
      }
    }
  }
}

@keyframes goldBanner {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 400% 0%;
  }
}

@mixin good {
  background-color: black;
  &:hover {
    box-shadow: 0 0 5px 1px darkgreen;
  }

  .details {
    .header {
      background: linear-gradient(90deg, darkgreen, black, darkgreen);
      background-size: 400% 100%;
      font-weight: bold;
      animation: goldBanner 20s linear infinite;

      .title {
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
          2px 2px 0 #000, 0px -2px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000,
          2px 0px 0 #000;
      }

      .rating-number {
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
          2px 2px 0 #000, 0px -2px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000,
          2px 0px 0 #000;
      }
    }
  }
}

@mixin bad {
  background-color: black;
  &:hover {
    box-shadow: 0 0 5px 1px darkred;
  }

  .details {
    .header {
      background: linear-gradient(90deg, darkred, black, darkred);
      background-size: 400% 100%;
      font-weight: bold;
      animation: goldBanner 20s linear infinite;

      .title {
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
          2px 2px 0 #000, 0px -2px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000,
          2px 0px 0 #000;
      }

      .rating-number {
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
          2px 2px 0 #000, 0px -2px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000,
          2px 0px 0 #000;
      }
    }
  }
}
