@use "reset";
@use "sass:color";

$primaryColor: rgb(67, 97, 238);
$lightColor: color.adjust($primaryColor, $lightness: 5%);
$darkColor: color.adjust($primaryColor, $lightness: -10%);
$darkerColor: color.adjust($primaryColor, $lightness: -45%);
$darkestColor: color.adjust($primaryColor, $lightness: -55%);

* {
  box-sizing: border-box;
}

.btn {
  background: linear-gradient(90deg, $primaryColor, $darkColor);
  width: fit-content;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.3rem;
  padding: 0.1rem 0.7rem;
  transition: all 0.1s ease;
  border: none;

  &:hover {
    background: linear-gradient(90deg, $darkColor, $darkerColor);
  }

  &:active {
    transform: translatey(3px);
  }

  span {
    font-size: 1.5rem;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  background-color: $darkestColor;
  color: #fff;

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: linear-gradient(180deg, $primaryColor, $darkestColor);

    .logo {
      color: #fff;
      font-weight: 600;
      font-size: 2rem;
      display: flex;
      align-items: center;

      span {
        font-size: 2.5rem;
      }
    }

    a {
      text-decoration: none;
    }

    .search {
      width: 30%;
      min-width: 15rem;

      input[type="text"] {
        width: 100%;
        max-width: 25rem;
        line-height: 3rem;
        border-radius: 2rem;
        border: none;
        padding-left: 1.3rem;
        font-size: 1.1rem;
        background-color: rgba(128, 128, 128, 0.315);
        color: #fff;
        transition: all 0.3s ease;

        &:hover {
          background-color: #ffffffd8;
          opacity: 1;
          color: rgba(0, 0, 0, 0.839);

          &::placeholder {
            color: gray;
          }
        }

        &:disabled {
          color: #fff;
          background-color: color.adjust($primaryColor, $lightness: -35%), 0.6;

          &:hover {
            background-color: rgba(128, 128, 128, 0.315);
          }
        }

        &::placeholder {
          color: #ffffffab;
          font-size: 1rem;
        }
      }
    }
  }

  main {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2rem;

    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      position: relative;
      max-width: 76rem;
      width: 76rem;

      nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        a {
          background-color: $darkestColor;
          width: 100%;
          padding: 1rem;
          border-radius: 0.5rem;
          text-decoration: none;
          color: #fff;
          font-weight: 600;
          text-align: center;
          border-bottom: 1px solid $primaryColor;
          border-top: 1px solid $primaryColor;

          &.active {
            background: linear-gradient(
              90deg,
              $darkestColor,
              $primaryColor,
              $darkestColor
            );
          }
        }
      }

      .search-results {
        width: 100%;
        display: flex;
        justify-content: start;
        line-height: 3rem;
        font-size: 1.5rem;
        border-bottom: 1px solid $primaryColor;
      }

      .movie-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
        max-width: 76rem;

        .movie {
          height: 17rem;
          width: 12rem;
          overflow: hidden;
          position: relative;
          border-radius: 0.7rem;
          cursor: pointer;

          img {
            background-size: cover;
            width: 100%;
            height: 100%;
          }
          h3 {
            position: absolute;
            bottom: 0;
            font-weight: 600;
            text-align: center;
            width: 100%;
            height: auto;
            padding: 0.5rem;
            padding-top: 0;
            color: white;
            background-color: rgba(0, 0, 0, 0.635);
            box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.635);
          }
        }
      }
      .watched-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 75rem;
        width: 100%;

        ul {
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;

          li {
            display: flex;
            flex-direction: column;
            width: 18rem;
            background-color: rgba(56, 56, 56, 0.301);
            box-shadow: 0 0 4px 0.5px $primaryColor;

            .movie-poster {
              width: 100%;
              height: 15rem;
              overflow: hidden;

              img {
                width: 100%;
              }
            }

            .details {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              width: 100%;
              height: 10rem;

              .header {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                background-color: $darkestColor;
                padding: 0.5rem 1rem;
                box-shadow: 0 0 10px 1px $darkColor;

                .star {
                  font-size: 1.2rem;
                }

                .title {
                  font-size: 1.5rem;
                }
              }

              .comment {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                overflow: auto;
                padding: 0.5rem 1rem;
              }
            }

            img {
              width: 10rem;
            }
          }
        }
      }
    }
  }

  .movie-card-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.454);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .movie-card {
      width: 50rem;
      height: 30rem;
      background-color: rgba(28, 28, 28, 0.908);
      color: #fff;
      display: flex;
      border-radius: 0.5rem;
      border: 2px solid #ffffff5d;

      .movie-details {
        width: 100%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        overflow: auto;
        position: relative;

        .movie-details-header {
          display: flex;
          justify-content: space-between;

          .close {
            cursor: pointer;
            height: fit-content;

            &:hover {
              box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.664);
            }
          }
        }
        .movie-title {
          font-size: 2rem;
          font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }

        .stats {
          margin-bottom: 2rem;
          display: flex;
          align-items: center;
          gap: 2rem;
          .rating {
            color: yellow;
            display: flex;
            align-items: center;
          }
        }

        .description {
          margin-bottom: 2rem;
        }

        .elements {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-bottom: 2rem;
          .row {
            display: flex;
            .type {
              min-width: 25%;
            }

            .data {
              width: 70%;
            }
          }
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom: 1.5rem;
          width: 90%;
        }
      }

      img {
        height: 100%;
        border-radius: 0.5rem 0 0 0.5rem;
        box-shadow: 15px 0 15px -10px black;
      }

      .feedback {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        position: relative;

        .your-rating {
          p {
            margin-bottom: 0.7rem;
            font-size: 1.4rem;
            font-weight: 600;
          }

          span {
            font-size: 1.5rem;
          }
        }

        .your-comment {
          display: flex;
          flex-direction: column;

          p {
            padding-bottom: 0.7rem;
            font-size: 1.3rem;
            font-weight: 600;
          }

          textarea {
            height: 4rem;
            max-height: 4rem;
            min-height: 4rem;
            max-width: 100%;
            min-width: 100%;
            font-size: 1.1rem;
            padding: 0.5rem;
            background-color: rgba(250, 247, 247, 0.173);
            color: #fff;

            &::placeholder {
              color: #ffffff69;
            }
          }
        }
        .float-right {
          position: absolute;
          bottom: 0;
          right: 0;
          .btn {
            float: right !important;
            font-size: 1rem;
            padding: 0.4rem 2rem;
          }
        }
      }
    }
  }
}
